.block {
  height: 30px;
  width: 30px;
  background-color: #808080;
}

.rows {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid #A9A9A9;
  border-radius: 5px;
}

.blockBorder {
  border: 1px solid #C0C0C0;
}

.white {
  background-color: white;
}
