.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.scoreLink {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  color: white;
  text-decoration: underline;
}

.collapsibleTrigger {
  color: white;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  border-bottom: 2px solid #4a4f4a;
  cursor: pointer;
}

.centerMain {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 302px;
  top: -110px;
  position: absolute;
  transition: .5s top;
}

.mainAudio {
  position: absolute;
  top: 0px;
  right: 100px;
  margin: 20px;
  color: white;
  text-decoration: underline;
}
