body {
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}


.collapsibleTrigger {
  color: white;
  height: 50px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  border-bottom: 2px solid #d91e5e;
  cursor: pointer;
}

.marginRight {
  margin-right: 50px;
  margin-bottom: 50px;
}

#game {
  margin-top: 10px;
}

#hider {
  background-color: #ffffff;
  height: 70px;
  width: 174px;
  margin: -30px auto 0 auto;
  position: relative;
  z-index: 99;
}

#background {
  background-color: #c4cfa1;
  height: 288px;
  width: 174px;
  margin: 0 auto;
  z-index: -5;
}

.box {
  width: 14px;
  height: 14px;
  border: 2px solid #414141;
}

.solid {
  background-color: #6b7353;
}

.emboss {
  background-color: #8b956d;
  box-shadow: inset 0 0 0 3px #8b956d, inset 3px 3px 0px 2px #c4cfa1, inset -3px -3px 0px 2px #6b7353;
}

.inset {
  background-color: #c4cfa1;
  box-shadow: inset 0 0 0 3px #8b956d, inset 3px 3px 0px 2px #414141, inset -3px -3px 0px 2px #414141;
}

.tile {
  background-color: #414141;
  box-shadow: inset 0 0 0 2px #c4cfa1;
}

.trans {
  background-color: transparent;
  position: absolute;
  left: -2px;
  bottom: -2px;
  width: 13px;
  border-top: 2px solid transparent;
  -webkit-animation: gone .1s linear 39s forwards;
          animation: gone .1s linear 39s forwards;
}

.bendy {
  float: left;
  position: relative;
  left: 17px;
  bottom: 18px;
}

.antibendy {
  float: left;
  position: relative;
  left: -34px;
  bottom: 0px;
}

.boxed {
  float: left;
  position: relative;
  left: -17px;
  bottom: 0px;
}

#piece1 {
  position: relative;
  left: 80px;
  height: 54px;
  width: 36px;
  -webkit-animation: movep1 6s linear forwards;
          animation: movep1 6s linear forwards;
  z-index: 1;
}

#piece2 {
  position: relative;
  left: 80px;
  top: -110px;
  height: 54px;
  width: 36px;
  -webkit-animation: movep2 6s linear 6s forwards;
          animation: movep2 6s linear 6s forwards;
  z-index: 1;
}

#piece3 {
  position: relative;
  left: 80px;
  top: -160px;
  height: 54px;
  width: 36px;
  -webkit-animation: movep3 6s linear 12s forwards;
          animation: movep3 6s linear 12s forwards;
  z-index: 1;
}

#piece4 {
  position: relative;
  left: 80px;
  top: -210px;
  height: 36px;
  width: 36px;
  -webkit-animation: movep4 6s linear 18s forwards;
          animation: movep4 6s linear 18s forwards;
  z-index: 1;
}

#piece5 {
  position: relative;
  left: 80px;
  top: -250px;
  height: 36px;
  width: 36px;
  -webkit-animation: movep5 6s linear 24s forwards;
          animation: movep5 6s linear 24s forwards;
  z-index: 1;
}

#piece6 {
  position: relative;
  left: 80px;
  top: -325px;
  height: 72px;
  width: 13px;
  -webkit-animation: movep6 6s linear 30s forwards, height 1s linear 38.25s forwards, drop 1s linear 38.5s forwards;
          animation: movep6 6s linear 30s forwards, height 1s linear 38.25s forwards, drop 1s linear 38.5s forwards;
  z-index: 1;
  background-color: #8b956d;
  border: 2px solid #414141;
}

.clear {
  -webkit-animation: clearline 2s linear 36.5s forwards;
          animation: clearline 2s linear 36.5s forwards;
}

.drop1 {
  top: 0px;
  position: relative;
  -webkit-animation: otherdrop 1s linear 38.5s forwards;
          animation: otherdrop 1s linear 38.5s forwards;
}

.drop2 {
  bottom: 0px;
  position: relative;
  -webkit-animation: anotherdrop 1s linear 38.5s forwards;
          animation: anotherdrop 1s linear 38.5s forwards;
}

@-webkit-keyframes movep1 {
  0% {
    left: 72px;
    top: -54px;
  }
  25% {
    left: 72px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25.1% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  55% {
    left: 72px;
  }
  55.1% {
    left: 54px;
  }
  65% {
    left: 54px;
  }
  65.1% {
    left: 36px;
  }
  70% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  70.1% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    left: 36px;
  }
  85.1% {
    left: 18px;
  }
  95% {
    left: 18px;
  }
  95.1% {
    left: 0px;
  }
  100% {
    left: 0px;
    top: 234px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes movep1 {
  0% {
    left: 72px;
    top: -54px;
  }
  25% {
    left: 72px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25.1% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  55% {
    left: 72px;
  }
  55.1% {
    left: 54px;
  }
  65% {
    left: 54px;
  }
  65.1% {
    left: 36px;
  }
  70% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  70.1% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    left: 36px;
  }
  85.1% {
    left: 18px;
  }
  95% {
    left: 18px;
  }
  95.1% {
    left: 0px;
  }
  100% {
    left: 0px;
    top: 234px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes movep2 {
  0% {
    left: 72px;
    top: -110px;
  }
  20% {
    left: 72px;
  }
  20.1% {
    left: 90px;
  }
  25% {
    left: 90px;
  }
  25.1% {
    left: 108px;
  }
  35% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  35.1% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  55% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  55.1% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  70% {
    left: 108px;
  }
  70.1% {
    left: 90px;
  }
  75% {
    left: 90px;
  }
  75.1% {
    left: 72px;
  }
  80% {
    left: 72px;
  }
  80.1% {
    left: 54px;
  }
  85% {
    left: 54px;
  }
  85.1% {
    left: 36px;
  }
  97% {
    left: 36px;
  }
  97.1% {
    left: 17px;
  }
  100% {
    left: 17px;
    top: 180px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes movep2 {
  0% {
    left: 72px;
    top: -110px;
  }
  20% {
    left: 72px;
  }
  20.1% {
    left: 90px;
  }
  25% {
    left: 90px;
  }
  25.1% {
    left: 108px;
  }
  35% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  35.1% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  55% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  55.1% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  70% {
    left: 108px;
  }
  70.1% {
    left: 90px;
  }
  75% {
    left: 90px;
  }
  75.1% {
    left: 72px;
  }
  80% {
    left: 72px;
  }
  80.1% {
    left: 54px;
  }
  85% {
    left: 54px;
  }
  85.1% {
    left: 36px;
  }
  97% {
    left: 36px;
  }
  97.1% {
    left: 17px;
  }
  100% {
    left: 17px;
    top: 180px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@-webkit-keyframes movep3 {
  0% {
    left: 72px;
    top: -110px;
  }
  40% {
    left: 72px;
  }
  40.1% {
    left: 90px;
  }
  45% {
    left: 90px;
  }
  45.1% {
    left: 108px;
  }
  50% {
    left: 108px;
  }
  50.1% {
    left: 126px;
  }
  80% {
    left: 126px;
  }
  80.1% {
    left: 139px;
  }
  100% {
    left: 139px;
    top: 144px;
  }
}
@keyframes movep3 {
  0% {
    left: 72px;
    top: -110px;
  }
  40% {
    left: 72px;
  }
  40.1% {
    left: 90px;
  }
  45% {
    left: 90px;
  }
  45.1% {
    left: 108px;
  }
  50% {
    left: 108px;
  }
  50.1% {
    left: 126px;
  }
  80% {
    left: 126px;
  }
  80.1% {
    left: 139px;
  }
  100% {
    left: 139px;
    top: 144px;
  }
}
@-webkit-keyframes movep4 {
  0% {
    left: 72px;
    top: -210px;
  }
  30% {
    left: 72px;
  }
  30.1% {
    left: 90px;
  }
  57% {
    left: 90px;
  }
  57.1% {
    left: 105px;
  }
  100% {
    left: 105px;
    top: 90px;
  }
}
@keyframes movep4 {
  0% {
    left: 72px;
    top: -210px;
  }
  30% {
    left: 72px;
  }
  30.1% {
    left: 90px;
  }
  57% {
    left: 90px;
  }
  57.1% {
    left: 105px;
  }
  100% {
    left: 105px;
    top: 90px;
  }
}
@-webkit-keyframes movep5 {
  0% {
    left: 72px;
    top: -210px;
  }
  44% {
    left: 72px;
  }
  44.1% {
    left: 54px;
  }
  67% {
    left: 54px;
  }
  67.1% {
    left: 70px;
  }
  100% {
    left: 70px;
    top: 54px;
  }
}
@keyframes movep5 {
  0% {
    left: 72px;
    top: -210px;
  }
  44% {
    left: 72px;
  }
  44.1% {
    left: 54px;
  }
  67% {
    left: 54px;
  }
  67.1% {
    left: 70px;
  }
  100% {
    left: 70px;
    top: 54px;
  }
}
@-webkit-keyframes movep6 {
  0% {
    left: 72px;
    top: -325px;
  }
  32% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  32.1% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  40% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  40.1% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  62% {
    left: 72px;
  }
  62.1% {
    left: 90px;
  }
  72% {
    left: 90px;
  }
  72.1% {
    left: 108px;
  }
  82% {
    left: 108px;
  }
  82.1% {
    left: 123px;
  }
  100% {
    left: 123px;
    top: -40px;
  }
}
@keyframes movep6 {
  0% {
    left: 72px;
    top: -325px;
  }
  32% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  32.1% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  40% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  40.1% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  62% {
    left: 72px;
  }
  62.1% {
    left: 90px;
  }
  72% {
    left: 90px;
  }
  72.1% {
    left: 108px;
  }
  82% {
    left: 108px;
  }
  82.1% {
    left: 123px;
  }
  100% {
    left: 123px;
    top: -40px;
  }
}
@-webkit-keyframes clearline {
  0% {
    background-color: #8b956d;
    border: 2px solid #8b956d;
    box-shadow: none;
  }
  20% {
    background-color: #8b956d;
    border: 2px solid #8b956d;
    box-shadow: none;
  }
  20.1% {
    background-color: #6b7353;
    border: 2px solid #6b7353;
    box-shadow: none;
  }
  40% {
    background-color: #6b7353;
    border: 2px solid #6b7353;
    box-shadow: none;
  }
  40.1% {
    background-color: #8b956d;
    border: 2px solid #8b956d;
    box-shadow: none;
  }
  60% {
    background-color: #8b956d;
    border: 2px solid #8b956d;
    box-shadow: none;
  }
  60.1% {
    background-color: #6b7353;
    border: 2px solid #6b7353;
    box-shadow: none;
  }
  80% {
    background-color: #6b7353;
    border: 2px solid #6b7353;
    box-shadow: none;
  }
  80.1% {
    background-color: #8b956d;
    border: 2px solid #8b956d;
    box-shadow: none;
  }
  99% {
    background-color: transparent;
    border: 2px solid transparent;
    box-shadow: none;
  }
  100% {
    background-color: transparent;
    border: 2px solid transparent;
    box-shadow: none;
  }
}
@keyframes clearline {
  0% {
    background-color: #8b956d;
    border: 2px solid #8b956d;
    box-shadow: none;
  }
  20% {
    background-color: #8b956d;
    border: 2px solid #8b956d;
    box-shadow: none;
  }
  20.1% {
    background-color: #6b7353;
    border: 2px solid #6b7353;
    box-shadow: none;
  }
  40% {
    background-color: #6b7353;
    border: 2px solid #6b7353;
    box-shadow: none;
  }
  40.1% {
    background-color: #8b956d;
    border: 2px solid #8b956d;
    box-shadow: none;
  }
  60% {
    background-color: #8b956d;
    border: 2px solid #8b956d;
    box-shadow: none;
  }
  60.1% {
    background-color: #6b7353;
    border: 2px solid #6b7353;
    box-shadow: none;
  }
  80% {
    background-color: #6b7353;
    border: 2px solid #6b7353;
    box-shadow: none;
  }
  80.1% {
    background-color: #8b956d;
    border: 2px solid #8b956d;
    box-shadow: none;
  }
  99% {
    background-color: transparent;
    border: 2px solid transparent;
    box-shadow: none;
  }
  100% {
    background-color: transparent;
    border: 2px solid transparent;
    box-shadow: none;
  }
}
@-webkit-keyframes drop {
  0% {
    top: -21px;
    position: relative;
  }
  100% {
    top: -21px;
    position: relative;
  }
}
@keyframes drop {
  0% {
    top: -21px;
    position: relative;
  }
  100% {
    top: -21px;
    position: relative;
  }
}
@-webkit-keyframes otherdrop {
  0% {
    top: 18px;
    position: relative;
  }
  100% {
    top: 18px;
    position: relative;
  }
}
@keyframes otherdrop {
  0% {
    top: 18px;
    position: relative;
  }
  100% {
    top: 18px;
    position: relative;
  }
}
@-webkit-keyframes anotherdrop {
  0% {
    bottom: 18px;
    position: relative;
  }
  100% {
    bottom: 18px;
    position: relative;
  }
}
@keyframes anotherdrop {
  0% {
    bottom: 18px;
    position: relative;
  }
  100% {
    bottom: 18px;
    position: relative;
  }
}
@-webkit-keyframes gone {
  0% {
    background-color: transparent;
    border: 2px solid transparent;
  }
  100% {
    background-color: transparent;
    border: 2px solid transparent;
  }
}
@keyframes gone {
  0% {
    background-color: transparent;
    border: 2px solid transparent;
  }
  100% {
    background-color: transparent;
    border: 2px solid transparent;
  }
}
@-webkit-keyframes height {
  0% {
    height: 54px;
  }
  100% {
    height: 54px;
  }
}
@keyframes height {
  0% {
    height: 54px;
  }
  100% {
    height: 54px;
  }
}

