.block {
  height: 60px;
  width: 60px;
  background-color: red;
}

.rows {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockBorder {
  border: 1px solid black;
}

.white {
  background-color: white;
}