html,
body,
#tetris {
  margin: 0;
  height: 100%;
  background-color: #d9e476;
  overflow: auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;

}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
